 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/Designsemnome1.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover, cover;
  min-height: 878px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 314px auto 0 calc(((100% - 1080px) / 2)  + 108px);
}

.u-section-1 .u-text-1 {
  margin: 42px calc(((100% - 1080px) / 2)  + 396px) 0 calc(((100% - 1080px) / 2)  + 74px);
}

.u-section-1 h1.u-text-1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 11px calc(((100% - 1080px) / 2)  + 396px) 60px calc(((100% - 1080px) / 2)  + 74px);
}

.u-section-1 .u-text-3 {
  margin: 11px calc(((100% - 1080px) / 2)  + 396px) 60px calc(((100% - 1080px) / 2)  + 74px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 764px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + 108px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2)  + 320px);
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2)  + 320px);
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2)  + 320px);
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-image: linear-gradient(rgba(0, 20, 45, 0.62), rgba(0, 20, 45, 0.86)), url('images/Designsemnome1.png') !important;
    min-height: 585px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + 108px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 100px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + 100px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2)  + 100px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 439px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + 108px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 0;
    padding-bottom: 48px;
  }

  .u-section-1 .u-icon-1 {
    display: block;
    margin: 145px auto 0;
  }

  .u-section-1 .u-text-1 {
    width: 280px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 h1.u-text-1 {
    font-size: 1.5rem;
    line-height: 1.15;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    line-height: 1.55;
    width: 280px;
    margin: 1px auto 44px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    line-height: 1.55;
    width: 280px;
    margin: 1px auto 44px;
  }
}